/.vs
/GenderAPI/obj
/GenderAPI.Domain/bin
/GenderAPI.Domain/obj
/GenderAPI.Infra/bin
/GenderAPI.Infra/obj
/GenderAPI.Tests/bin
/GenderAPI.Tests/obj
/Web/bin
/Web/obj
/publish
/Web/Properties/PublishProfiles/*.pubxml
/Web/Properties/PublishProfiles/*.user
/Web/*.user
/Web/appsettings.json